@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body {
  color: #444444;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px; }

.title--hidden {
  color: transparent;
  font-size: 1px;
  position: absolute; }

@media (min-width: 770px) {
  .container {
    width: 770px; } }

@media (min-width: 1300px) {
  .container {
    width: 1300px; } }

.header__block {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 65px;
  padding: 0 20px; }

.header__logo {
  background: url(../img/logo-mobile.png) no-repeat center center;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 40px;
  width: 35px; }
  .header__logo:hover, .header__logo:focus {
    opacity: .8;
    outline-color: transparent; }
  .header__logo:active {
    opacity: .6; }

.logo--title {
  background: url(../img/logo-mobile-header.png) no-repeat center center;
  height: 20px;
  width: 100px; }

.btn__burger {
  background: url(../img/mobile-menu.png) no-repeat center center;
  border: none;
  font-size: 1px;
  color: transparent;
  height: 20px;
  width: 25px; }
  .btn__burger:hover, .btn__burger:focus {
    opacity: .8;
    outline-color: transparent; }
  .btn__burger:active {
    opacity: .6; }

.desk--fon {
  display: none; }

@media (min-width: 770px) {
  .header__block {
    min-height: 100px;
    padding: 0 30px; }
  .header__logo {
    background: url(../img/logo-tablet.png) no-repeat center center;
    height: 65px;
    position: relative;
    width: 175px;
    z-index: 1; }
  .logo--title {
    display: none; }
  .btn__burger {
    display: none; } }

@media (min-width: 1300px) {
  .header__block {
    padding: 0 40px; }
  .desk--fon {
    display: block;
    background: url(../img/index-background-desktop.png) no-repeat right top;
    background-size: cover;
    height: 695px;
    left: 50%;
    position: absolute;
    width: 50%; }
  .header__logo {
    background: url(../img/logo-desktop.png) no-repeat center center;
    width: 215px; } }

.promo__block {
  -ms-flex-align: center;
      align-items: center;
  background: url(../img/index-background-mobile.png) no-repeat center top;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 5px; }

.promo__title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 10px;
  text-align: center; }

.promo__text {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  line-height: 14px;
  margin-bottom: 35px;
  text-transform: uppercase; }

.btn {
  -ms-flex-align: center;
      align-items: center;
  background: #68b738;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  -ms-flex-pack: center;
      justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 280px; }
  .btn:hover, .btn:focus {
    background: #5eaa2f;
    outline-color: transparent; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 770px) {
  .promo__block {
    background: url(../img/index-can-tablet.jpg) no-repeat center 240px;
    display: block;
    min-height: 800px;
    padding: 45px 0 0 120px; }
  .promo__img {
    display: none; }
  .promo__title {
    color: #000;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0px;
    text-align: left;
    width: 415px; }
  .promo__text {
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px; }
  .btn {
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    width: 245px; } }

@media (min-width: 1300px) {
  .promo__block {
    background: url(../img/index-can.png) no-repeat 490px 20px;
    min-height: 550px;
    padding: 100px 0 0 130px; }
  .promo__text {
    padding-bottom: 10px; } }

.catalogs__block {
  padding: 25px 20px 0 20px; }

.catalog__block {
  background: #f2f2f2;
  padding: 20px;
  position: relative;
  margin-bottom: 20px; }

.catalog__title {
  -ms-flex-align: center;
      align-items: center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 37px;
  margin: 0 0 10px 5px;
  min-height: 60px;
  position: relative;
  text-transform: uppercase;
  width: 230px;
  z-index: 2; }
  .catalog__title::before {
    background: #68b738;
    bottom: 4px;
    border-radius: 50%;
    content: '';
    left: -8px;
    height: 50px;
    position: absolute;
    width: 50px; }

.title--slim::after {
  background: url(../img/slim.png) no-repeat left top;
  content: '';
  left: 0;
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 1; }

.title--pro {
  padding-left: 15px; }
  .title--pro::after {
    background: url(../img/pro.png) no-repeat left center;
    content: '';
    left: -20px;
    height: 50px;
    position: absolute;
    width: 70px;
    z-index: 1; }

.catalog__text {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 25px;
  width: 240px; }

.catalog__btn {
  -ms-flex-align: center;
      align-items: center;
  background: url(../img/right-arrow-long.png) no-repeat right center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  -ms-flex-pack: start;
      justify-content: flex-start;
  line-height: 16px;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px; }
  .catalog__btn:hover, .catalog__btn:focus {
    background: url(../img/right-arrow-verylong.png) no-repeat right center;
    outline-color: transparent;
    width: 130px; }
  .catalog__btn:active {
    opacity: .3; }

@media (min-width: 770px) {
  .catalogs__block {
    padding: 25px 40px 0 40px; }
  .catalog__block {
    margin-bottom: 30px;
    padding: 65px 0 55px 50px; }
    .catalog__block::after {
      background: #68b738;
      border-radius: 50%;
      content: '';
      height: 200px;
      right: 60px;
      position: absolute;
      top: 90px;
      width: 200px; }
  .catalog--slim::before {
    background: url(../img/cat-slim.png) no-repeat center center;
    content: '';
    height: 200px;
    position: absolute;
    top: 73px;
    right: 60px;
    width: 200px;
    z-index: 1; }
  .catalog--pro::before {
    background: url(../img/cat-pro.png) no-repeat center center;
    content: '';
    height: 200px;
    position: absolute;
    top: 90px;
    right: 25px;
    width: 270px;
    z-index: 1; }
  .catalog__title {
    font-size: 36px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin: 0 0 10px 0px; }
    .catalog__title::before {
      display: none; }
  .title--slim::after {
    background: none; }
  .title--pro {
    padding-left: 0; }
    .title--pro::after {
      background: none; }
  .catalog__text {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    width: 375px; }
  .text--pro {
    width: 340px; }
  .catalog__btn {
    font-size: 20px;
    line-height: 20px;
    width: 155px; }
    .catalog__btn:hover, .catalog__btn:focus {
      width: 165px; } }

@media (min-width: 1300px) {
  .catalogs__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .catalog__block {
    width: 520px; }
    .catalog__block::after {
      height: 100px;
      left: 50px;
      top: 45px;
      width: 100px; }
  .catalog__title {
    padding-left: 165px; }
  .catalog__text {
    padding-top: 35px;
    width: 465px; }
  .catalog--slim::before {
    background: url(../img/cat-slim-desk.png) no-repeat center center;
    height: 100px;
    left: 50px;
    top: 40px;
    width: 100px; }
  .catalog--pro::before {
    background: url(../img/cat-pro-desk.png) no-repeat center center;
    height: 100px;
    left: 15px;
    top: 45px;
    width: 170px; }
  .catalog__btn {
    margin-top: -10px; } }

.info__block {
  padding: 0 20px 0 20px; }

.info__title {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.info__text {
  padding: 3px 0 15px 80px;
  position: relative; }
  .info__text:before {
    background: #68b738;
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: -1; }

.text--1 {
  background: url(../img/advantage-1.png) no-repeat 17px 15px; }

.text--2 {
  background: url(../img/andvantage-2.png) no-repeat 15px 13px; }

.text--3 {
  background: url(../img/advantage-3.png) no-repeat 17px 15px; }

.text--4 {
  background: url(../img/advantage-4.png) no-repeat 17px 15px; }

.text--tablet {
  display: none; }

@media (min-width: 770px) {
  .info__block {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 30px; }
  .info__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: -30px;
    padding-right: 80px; }
  .info__title {
    font-size: 60px;
    line-height: 60px; }
  .info__text {
    font-size: 16px;
    line-height: 24px;
    padding: 145px 0 55px 0;
    min-height: 110px;
    width: 250px; }
    .info__text:before {
      height: 80px;
      top: 30px;
      width: 80px; }
  .text--1 {
    background: url(../img/advantage-1.png) no-repeat 27px 55px, url(../img/1.png) no-repeat 125px 30px; }
  .text--2 {
    background: url(../img/andvantage-2.png) no-repeat 25px 54px, url(../img/2.png) no-repeat 125px 30px; }
  .text--3 {
    background: url(../img/advantage-3.png) no-repeat 27px 55px, url(../img/3.png) no-repeat 125px 30px; }
  .text--4 {
    background: url(../img/advantage-4.png) no-repeat 27px 55px, url(../img/4.png) no-repeat 125px 30px; }
  .text--tablet {
    display: block; } }

@media (min-width: 1300px) {
  .info__block {
    border-bottom: none;
    padding: 0 40px; }
  .info__wrapper {
    padding-right: 0; }
  .info__text {
    width: 240px; }
  .text--3 {
    margin-right: -5px; } }

.exemple__block {
  background: #f2f2f2;
  padding: 0 20px 0 20px; }

.exemple__title {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 20px; }

.exemple__text {
  margin-top: -10px;
  width: 270px; }

.statistic__number {
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 54px;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  width: 123px; }

.exemple__statistic {
  background: #f2f2f2;
  bottom: -15px;
  color: #444444;
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  left: 18px;
  line-height: 12px;
  padding: 0 15px 0 15px;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  width: 60px; }

.exemple__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 10px 0 25px 0; }

.exemple__price {
  color: #000;
  font-family: 'Oswald', sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase; }

.exemple__slider {
  height: 250px;
  position: relative;
  width: 100%; }

.exemple__img {
  bottom: 0;
  position: absolute;
  left: -13px; }

.img--after {
  left: 30px; }

.range__wrapper {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px; }

.range__text {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.exemple__range {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  height: 12px;
  width: 85px; }

@media (min-width: 770px) {
  .exemple__block {
    background: none;
    padding: 0 30px; }
  .exemple__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    padding-top: 0; }
  .exemple__text {
    font-size: 16px;
    line-height: 24px;
    width: 680px; }
  .statistic__number {
    font-size: 30px;
    height: 70px;
    line-height: 37px;
    margin-right: 45px;
    width: 160px; }
  .exemple__statistic {
    background: #fff;
    bottom: -6px;
    font-size: 14px;
    left: 20px;
    line-height: 14px;
    padding: 0 10px 0 10px;
    width: auto; }
  .number--2 {
    left: 8px; }
  .exemple__price {
    font-size: 20px;
    text-align: right;
    width: 175px; }
  .exemple__wrapper {
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding: 10px 0 25px 0; }
  .exemple__box {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 25px; }
  .exemple__slider {
    background: #f2f2f2;
    height: 330px;
    margin-top: 240px;
    width: 100%; }
  .exemple__img {
    top: -190px;
    left: 0; }
  .img--after {
    left: 353px; }
  .range__wrapper {
    background: #f2f2f2;
    position: relative;
    z-index: 2; }
  .exemple__range {
    background: #dcdcdc;
    border: none;
    height: 6px;
    width: 425px; }
    .exemple__range:focus {
      outline-color: transparent; }
  .exemple__range::-webkit-slider-thumb {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url(../img/core.png) no-repeat center 16px, url(../img/slider-control.png) no-repeat center center;
    height: 42px;
    position: relative;
    width: 42px; }
  .exemple__range:hover::-webkit-slider-thumb {
    background: url(../img/core.png) no-repeat center 14px, url(../img/slider-control-hover.png) no-repeat center center; }
  .exemple__range:active::-webkit-slider-thumb {
    background: url(../img/core.png) no-repeat center 14px, url(../img/slider-control-active.png) no-repeat center center; }
  .range__text {
    font-size: 20px;
    line-height: 20px;
    position: relative; }
    .range__text::before {
      border-bottom: 1px dashed #b8b8b8;
      content: '';
      height: 2px;
      position: absolute;
      top: 23px;
      width: 100%; }
  .slider--fon {
    background: #f2f2f2;
    position: absolute;
    height: 460px;
    left: -30px;
    top: 0px;
    width: 770px;
    z-index: -1; } }

@media (min-width: 1300px) {
  .exemple__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 40px; }
  .exemple__title {
    margin-top: 75px; }
  .exemple__text {
    padding: 100px 0 25px 0;
    width: 435px; }
  .exemple__box {
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 500px; }
  .exemple__price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 20px;
    text-align: left;
    width: 330px; }
  .exemple__statistic {
    background: #f2f2f2; }
  .exemple__box-3 {
    margin-top: -15px; }
  .exemple__slider {
    bottom: 20px; }
  .range__wrapper {
    width: 570px; }
  .exemple__img {
    left: -35px; }
  .img--after {
    left: 319px; }
  .slider--fon {
    background: none; }
  .exemple--fon {
    background: #f2f2f2;
    height: 480px;
    position: absolute;
    top: 1855px;
    width: 100%; } }

.contact__wrapper {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px; }

.contact__text {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 20px;
  text-transform: uppercase; }

.contact__address {
  line-height: 20px; }

.contact__map {
  height: 365px;
  width: 100%; }

.contact--fon {
  display: none; }

@media (min-width: 770px) {
  .contact__wrapper {
    padding: 50px 70px; }
  .contact__text {
    font-size: 20px;
    line-height: 25px;
    width: 150px; }
  .contact__address {
    font-size: 16px;
    text-align: right;
    width: 155px; }
  .address__city {
    position: relative;
    top: 20px; }
  .contact__map {
    height: 400px; } }

@media (min-width: 1300px) {
  .contact__block {
    padding-top: 29px;
    position: relative; }
  .contact__wrapper {
    background: #fff;
    left: 40px;
    min-height: 200px;
    padding: 0px 100px 0 75px;
    position: absolute;
    top: 130px;
    width: 405px;
    z-index: 20; }
  .contact__address {
    text-align: left;
    margin-top: -5px; }
  .contact--fon {
    top: 2335px;
    display: block;
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: 10; } }

.footer__block {
  background: #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: -5px;
  padding: 35px 20px 0 20px; }

.logo--footer {
  -ms-flex-item-align: center;
      align-self: center;
  background: url(../img/footer-logo.png) no-repeat center center;
  height: 25px;
  width: 130px; }

.footer__socials {
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  margin-top: 35px;
  min-height: 60px;
  padding-left: 0; }

.media__item {
  color: transparent;
  display: -ms-flexbox;
  display: flex;
  font-size: 1px;
  min-height: 30px;
  width: 50px; }
  .media__item:active {
    opacity: .3; }

.item--vk {
  background: url(../img/m-vk.png) no-repeat center center; }
  .item--vk:hover, .item--vk:focus {
    background: url(../img/vk.-hover.png) no-repeat center center;
    outline-color: transparent; }

.item--inst {
  background: url(../img/m-insta.png) no-repeat center center; }
  .item--inst:hover, .item--inst:focus {
    background: url(../img/insta.-hover..png) no-repeat center center;
    outline-color: transparent; }

.item--fb {
  background: url(../img/fb.png) no-repeat center center; }
  .item--fb:hover, .item--fb:focus {
    background: url(../img/fb.-hover..png) no-repeat center center;
    outline-color: transparent; }

.footer__creater {
  -ms-flex-align: center;
      align-items: center;
  background: url(../img/htmlacademy.png) no-repeat 100% 10px;
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  min-height: 35px;
  padding: 10px 0 20px 0px;
  text-decoration: none; }
  .footer__creater:hover, .footer__creater:focus {
    background: url(../img/html-hover.png) no-repeat 100% 10px;
    outline-color: transparent; }
  .footer__creater:active {
    opacity: .3; }

@media (min-width: 770px) {
  .footer__block {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 50px 30px 40px 30px; }
  .footer__socials {
    border: none;
    margin-top: 0;
    padding-left: 10px; }
  .item--vk {
    background: url(../img/vk.png) no-repeat center center; }
  .item--inst {
    background: url(../img/insta.png) no-repeat center center; }
  .item--fb {
    background: url(../img/fbt.png) no-repeat center center; }
  .footer__creater {
    padding: 0px 45px 20px 0px; } }

@media (min-width: 1300px) {
  .footer__block {
    padding: 50px 40px 40px 40px;
    position: relative; }
  .footer--fon {
    background: #f2f2f2;
    height: 163px;
    margin-top: -163px;
    position: absolute;
    width: 100%;
    z-index: -1; } }

.menu__block {
  display: none; }

.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }

.menu__list li {
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid #e6e6e6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 63px; }

.menu__item {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .menu__item:hover, .menu__item:focus {
    opacity: .6;
    outline-color: transparent; }
  .menu__item:active {
    opacity: .3; }

.menu--active::before {
  background: #68b738;
  content: '';
  height: 2px;
  position: absolute;
  top: 28px;
  width: 100%; }

@media (min-width: 770px) {
  .menu__block {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0; }
  .menu__list {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 440px; }
    .menu__list:first-child {
      padding-left: 300px; }
  .menu__list li {
    border: none;
    min-height: 100px; }
  .menu__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; } }

@media (min-width: 1300px) {
  .menu__list {
    -ms-flex-pack: end;
        justify-content: flex-end;
    width: 480px; }
    .menu__list:first-child {
      padding-left: 770px; }
  .menu__item {
    color: #fff;
    font-weight: 400;
    margin-left: 35px; }
  .menu--active::before {
    background: #fff; } }
