.catalogs__block {
  padding: 25px 20px 0 20px;
}

.catalog__block {
  background: $catalogBack;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.catalog__title {
  align-items: center;
  color: $bl;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  line-height: 37px;
  margin: 0 0 10px 5px;
  min-height: 60px;
  position: relative;
  text-transform: uppercase;
  width: 230px;
  z-index: 2;
  &::before {
    background: $btnGreen;
    bottom: 4px;
    border-radius: 50%;
    content: '';
    left: -8px;
    height: 50px;
    position: absolute;
    width: 50px;
  }
}

.title--slim {
  &::after {
    background: url(../img/slim.png) no-repeat left top;
    content: '';
    left: 0;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 1;
  }
}

.title--pro {
  padding-left: 15px;
  &::after {
    background: url(../img/pro.png) no-repeat left center;
    content: '';
    left: -20px;
    height: 50px;
    position: absolute;
    width: 70px;
    z-index: 1;
  }
}

.catalog__text {
  border-bottom: 1px solid $borderColor;
  padding-bottom: 25px;
  width: 240px;
}

.catalog__btn {
  align-items: center;
  background: url(../img/right-arrow-long.png) no-repeat right center;
  color: $bl;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  justify-content: flex-start;
  line-height: 16px;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 120px;
  &:hover,
  &:focus {
    background: url(../img/right-arrow-verylong.png) no-repeat right center;
    outline-color: transparent;
    width: 130px;
  }
  &:active {
    opacity: .3;
  }
}

@media (min-width: 770px) {
  .catalogs__block {
    padding: 25px 40px 0 40px;
  }

  .catalog__block {
    margin-bottom: 30px;
    padding: 65px 0 55px 50px;
    &::after {
      background: $btnGreen;
      border-radius: 50%;
      content: '';
      height: 200px;
      right: 60px;
      position: absolute;
      top: 90px;
      width: 200px;
    }
  }

  .catalog--slim {
    &::before {
      background: url(../img/cat-slim.png) no-repeat center center;
      content: '';
      height: 200px;
      position: absolute;
      top: 73px;
      right: 60px;
      width: 200px;
      z-index: 1;
    }
  }

  .catalog--pro {
    &::before {
      background: url(../img/cat-pro.png) no-repeat center center;
      content: '';
      height: 200px;
      position: absolute;
      top: 90px;
      right: 25px;
      width: 270px;
      z-index: 1;
    }
  }

  .catalog__title {
    font-size: 36px;
    justify-content: flex-start;
    margin: 0 0 10px 0px;
    &::before {
      display: none;
    }
  }

  .title--slim {
    &::after {
      background: none;
    }
  }

  .title--pro {
    padding-left: 0;
    &::after {
      background: none;
    }
  }

  .catalog__text {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    width: 375px;
  }

  .text--pro {
    width: 340px;
  }

  .catalog__btn {
    font-size: 20px;
    line-height: 20px;
    width: 155px;
    &:hover,
    &:focus {
      width: 165px;
    }
  }
}

@media (min-width: 1300px) {
  .catalogs__block {
    display: flex;
    justify-content: space-between;
  }

  .catalog__block {
    width: 520px;
    &::after {
      height: 100px;
      left: 50px;
      top: 45px;
      width: 100px;
    }
  }

  .catalog__title {
    padding-left: 165px;
  }

  .catalog__text {
    padding-top: 35px;
    width: 465px;
  }

  .catalog--slim {
    &::before {
      background: url(../img/cat-slim-desk.png) no-repeat center center;
      height: 100px;
      left: 50px;
      top: 40px;
      width: 100px;
    }
  }

  .catalog--pro {
    &::before {
      background: url(../img/cat-pro-desk.png) no-repeat center center;
      height: 100px;
      left: 15px;
      top: 45px;
      width: 170px;
    }
  }

  .catalog__btn {
    margin-top: -10px;
  }
}
