.exemple__block {
  background: $catalogBack;
  padding: 0 20px 0 20px;
}

.exemple__title {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 20px;
}

.exemple__text {
  margin-top: -10px;
  width: 270px;
}

.statistic__number {
  align-items: center;
  border: 1px solid $borderColor2;
  border-radius: 3px;
  color: $bl;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 54px;
  justify-content: center;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  width: 123px;
}

.exemple__statistic {
  background: $catalogBack;
  bottom: -15px;
  color: $textColor;
  display: block;
  font-size: 12px;
  font-weight: 400;
  left: 18px;
  line-height: 12px;
  padding: 0 15px 0 15px;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  width: 60px;
}

.exemple__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 25px 0;
}

.exemple__price {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.exemple__slider {
  height: 250px;
  position: relative;
  width: 100%;
}

.exemple__img {
  bottom: 0;
  position: absolute;
  left: -13px;
}

.img--after {
  left: 30px;
}

.range__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.range__text {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.exemple__range {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: $wh;
  border: 1px solid $borderColor2;
  border-radius: 30px;
  height: 12px;
  width: 85px;
}

.exemple__range::-webkit-slider-thumb {
  height: 24px;
  width: 19px;
}

.exemple__range:hover::-webkit-slider-thumb {
  background-size: cover;
  height: 25px;
  width: 20px;
}

@media (min-width: 770px) {
  .exemple__block {
    background: none;
    padding: 0 30px 0 30px;
  }

  .exemple__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    padding-top: 0;
  }

  .exemple__text {
    font-size: 16px;
    line-height: 24px;
    width: 680px;
  }

  .statistic__number {
    font-size: 30px;
    height: 70px;
    line-height: 37px;
    margin-right: 45px;
    width: 160px;
  }

  .exemple__statistic {
    background: $wh;
    bottom: -6px;
    font-size: 14px;
    left: 30px;
    line-height: 14px;
    padding: 0 10px 0 10px;
    width: auto;
  }

  .number--2 {
    left: 20px;
  }

  .exemple__price {
    font-size: 20px;
    text-align: right;
    width: 175px;
  }

  .exemple__wrapper {
    justify-content: flex-start;
    padding: 10px 0 25px 0;
  }

  .exemple__box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  .exemple__slider {
    background: $catalogBack;
    height: 330px;
    margin-top: 240px;
    width: 100%;
  }

  .exemple__img {
    top: -190px;
    left: 0;
  }

  .img--after {
    left: 353px;
  }

  .range__wrapper {
    background: $catalogBack;
    position: relative;
    z-index: 2;
  }

  .exemple__range {
    background: $rangeColor;
    border: none;
    height: 6px;
    width: 425px;
  }

  .range__text {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    &::before {
      border-bottom: 1px dashed $underlineColor;
      content: '';
      height: 2px;
      position: absolute;
      top: 23px;
      width: 100%;
    }
  }

  .slider--fon {
    background: $catalogBack;
    position: absolute;
    height: 460px;
    left: -30px;
    top: 0px;
    width: 770px;
    z-index: -1;
  }
}
