.header__block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  padding: 0 20px;
}

.header__logo {
  background: url(../img/logo-mobile.png) no-repeat center center;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 40px;
  width: 35px;
  &:hover,
  &:focus {
    opacity: .8;
    outline-color: transparent;
  }
  &:active {
    opacity: .6;
  }
}

.logo--title {
  background: url(../img/logo-mobile-header.png) no-repeat center center;
  height: 20px;
  width: 100px;
}

.btn__burger {
  background: url(../img/mobile-menu.png) no-repeat center center;
  border: none;
  font-size: 1px;
  color: transparent;
  height: 20px;
  width: 25px;
  &:hover,
  &:focus {
    opacity: .8;
    outline-color: transparent;
  }
  &:active {
    opacity: .6;
  }
}

.desk--fon {
  display: none;
}

@media (min-width: 770px) {
  .header__block {
    min-height: 100px;
    padding: 0 30px;
  }

  .header__logo {
    background: url(../img/logo-tablet.png) no-repeat center center;
    height: 65px;
    position: relative;
    width: 175px;
    z-index: 1;
  }

  .logo--title {
    display: none;
  }

  .btn__burger {
    display: none;
  }
}

@media (min-width: 1300px) {
  .header__block {
    padding: 0 40px;
  }

  .desk--fon {
    display: block;
    background: url(../img/index-background-desktop.png) no-repeat right top;
    background-size: cover;
    height: 695px;
    left: 50%;
    position: absolute;
    width: 50%;
  }

  .header__logo {
    background: url(../img/logo-desktop.png) no-repeat center center;
    width: 215px;
  }
}
