.info__block {
  padding: 0 20px 0 20px;
}

.info__title {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.info__text {
  padding: 3px 0 15px 80px;
  position: relative;
  &:before {
    background: $btnGreen;
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: -1;
  }
}

.text--1 {
  background: url(../img/advantage-1.png) no-repeat 17px 15px;
}

.text--2 {
  background: url(../img/andvantage-2.png) no-repeat 15px 13px;
}

.text--3 {
  background: url(../img/advantage-3.png) no-repeat 17px 15px;
}

.text--4 {
  background: url(../img/advantage-4.png) no-repeat 17px 15px;
}

.text--tablet {
  display: none;
}

/*@media (min-width: 770px) {
  .info__block {
    border-bottom: 1px solid $borderColor3;
    padding: 0 30px;
  }

  .info__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    padding-right: 80px;
  }

  .info__title {
    font-size: 60px;
    line-height: 60px;
  }

  .info__text {
    font-size: 16px;
    line-height: 24px;
    padding: 145px 0 55px 0;
    min-height: 110px;
    width: 250px;
    &:before {
      height: 80px;
      top: 30px;
      width: 80px;
    }
  }

  .text--1 {
    background: url(../img/advantage-1.png) no-repeat 27px 55px,
    url(../img/1.png) no-repeat 125px 30px;
  }

  .text--2 {
    background: url(../img/andvantage-2.png) no-repeat 25px 54px,
    url(../img/2.png) no-repeat 125px 30px;
  }

  .text--3 {
    background: url(../img/advantage-3.png) no-repeat 27px 55px,
    url(../img/3.png) no-repeat 125px 30px;
  }

  .text--4 {
    background: url(../img/advantage-4.png) no-repeat 27px 55px,
    url(../img/4.png) no-repeat 125px 30px;
  }

  .text--tablet {
    display: block;
  }
}

@media (min-width: 1300px) {
  .info__block {
    border-bottom: none;
    padding: 0 40px;
  }

  .info__wrapper {
    padding-right: 0;
  }

  .info__text {
    width: 240px;
  }

  .text--3 {
    margin-right: -5px;
  }
}*/
