.menu__block {
  display: none;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__list li {
  align-items: center;
  border-top: 1px solid $borderColor3;
  display: flex;
  justify-content: center;
  min-height: 63px;
}

.menu__item {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    opacity: .6;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

.menu--active {
  &::before {
    background: $btnGreen;
    content:'';
    height: 2px;
    position: absolute;
    top: 28px;
    width: 100%;
  }
}

@media (min-width: 770px) {
  .menu__block {
    display: flex;
    position: absolute;
    top: 0;
  }

  .menu__list {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    &:first-child {
      padding-left: 300px;
    }
  }

  .menu__list li {
    border: none;
    min-height: 100px;
  }

  .menu__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1300px) {
  .menu__list {
    justify-content: flex-end;
    width: 480px;
    &:first-child {
      padding-left: 780px;
    }
  }

  .menu__item {
    color: $wh;
    font-weight: 400;
    margin-left: 35px;
  }

  .menu--active {
    &::before {
      background: $wh;
    }
  }
}
