.other-tovats__block {
  border-top: 3px solid $btnGreen;
  margin-top: 40px;
  padding: 40px 20px 0 20px;
  position: relative;
}

.other__tovat {
  border-bottom: 1px solid $borderColor2;
  border-top: 1px solid $borderColor2;
  padding-bottom: 20px;
}

.ots__title {
  background: $wh;
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  line-height: 25px;
  padding: 0 25px;
  position: absolute;
  top: -35px;
}

.ot__title {
  color: $bl;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.ot__info {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 14px;
  padding-bottom: 5px;
}

.gift__wrapper {
  align-items: center;
  background: url(../img/gift.png) no-repeat center 65px,
  url(../img/gift-photo-mobile.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 40px 0;
  min-height: 290px;
}

.ots__gift {
  align-self: center;
  color: $wh;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
  text-align: center;
  width: 165px;
}

.contact--catalog {
  background: $catalogBack;
}

@media (min-width: 770px) {
  .other-tovats__block {
    margin-top: 0;
    padding: 90px 30px 0px 30px;
  }

  .ots__title {
    font-size: 36px;
    left: 30px;
    line-height: 36px;
    top: -50px;
  }

  .other__tovat {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 25px 40px;
  }

  .other__tovat .btn{
    width: 100%;
  }

  .ot__title {
    font-size: 20px;
    line-height: 20px;
  }

  .ot__info {
    font-size: 16px;
    line-height: 20px;
    min-width: 225px;
  }

  .gift__wrapper {
    background: url(../img/gift.png) no-repeat 90px center,
    url(../img/gift-photo-tablet.jpg) no-repeat;
    justify-content: center;
    margin: 60px 0;
    min-height: 200px;
  }

  .ots__gift {
    margin-bottom: 0px;
    margin-left: 300px;
    text-align: left;
  }

}
