.promo__block {
  align-items: center;
  background: url(../img/index-background-mobile.png) no-repeat center top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
}

.promo__title {
  color: $wh;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.promo__text {
  color: $wh;
  font-family: 'Oswald', sans-serif;
  line-height: 14px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.btn {
  align-items: center;
  background: $btnGreen;
  color: $wh;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 280px;
  &:hover,
  &:focus {
    background: $btnHover;
    outline-color: transparent;
  }
  &:active {
    color: $whAct;
  }
}

/*@media (min-width: 770px) {
  .promo__block {
    background: url(../img/index-can-tablet.jpg) no-repeat center 240px;
    display: block;
    min-height: 800px;
    padding: 45px 0 0 120px;
  }

  .promo__img {
    display: none;
  }

  .promo__title {
    color: $bl;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0px;
    text-align: left;
    width: 415px;
  }

  .promo__text {
    color: $bl;
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
  }

  .btn {
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    width: 245px;
  }
}

@media (min-width: 1300px) {
  .promo__block {
    background: url(../img/index-can.png) no-repeat 490px 20px;
    min-height: 550px;
    padding: 100px 0 0 130px;
  }

  .promo__text {
    padding-bottom: 10px;
  }
}*/
