@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"),
      url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
      url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$textColor: #444444;
$wh: #fff;
$btnGreen: #68b738;
$btnHover: #5eaa2f;
$whAct: rgba(255, 255, 255, .3);
$catalogBack: #f2f2f2;
$bl: #000;
$borderColor: #d9d9d9;
$borderColor2: #cdcdcd;
$borderColor3: #e6e6e6;
$borderColor4: #cecece;
$borderColor5: #cfcfcf;
$rangeColor: #dcdcdc;
$underlineColor: #b8b8b8;
$moreBtnHover: #ebebeb;
$moreBtnAct: rgba(185, 185, 185, .3);
$checkAct: #bababa;
$checkAct2: #bcbcbc;
$inputInval: #ff8282;

body {
  color: $textColor;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px;
}

.title--hidden {
  color: transparent;
  font-size: 1px;
  position: absolute;
}

@media (min-width: 770px) {
  .container {
    width: 770px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

@import 'header__block';
@import 'promo__block';
@import 'catalogs__block';
@import 'info__block';
@import 'exemple__block';
@import 'contact__block';
@import 'footer__block';
@import 'menu__block';
@import 'tovats__block';
@import 'other-tovats__block';
@import 'form-title__block';
@import 'form__block';
